.containter {
    width: '100%';
}

.headerStyle {
    align-items: center;
    background-color: #7dbcea;
    color: #fff;
    display: flex;
    height: 64px;
    line-height: 64px;
    padding-inline: 50px;
    text-align: center;
}

.contentStyle {
    // background-color: #108ee9;
    background-color: white;
    color: #fff;
    line-height: 120px;
    min-height: 120px;
    text-align: center;
}

.siderStyle {
    background-color: #3ba0e9;
    color: #fff;
    line-height: 120px;
    text-align: center;
}

.footerStyle {
    background-color: #7dbcea;
    color: #fff;
    text-align: center;
}
