/* html,
body {
    background: rgb(34, 34, 34);
    color: white;
    font-family: Karla, Helvetica Neue, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    user-select: none;
} */

.reactLab {
    background: rgb(34, 34, 34);
    box-sizing: border-box;
    color: white;
    font-family: Karla, Helvetica Neue, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    user-select: none;
}

/* .VictoryContainer {
    opacity: 0.8;
} */

/* * {
    box-sizing: border-box;
} */

.container {
    height: 100%;
    margin: auto;
    overflow-y: hidden;
    /* max-width: 960px; */
    padding: 10px;
    width: 100%;
}

.rendering {
    margin-bottom: 20px;
    margin-top: 20px;
}

label {
    font-size: 20px;
    margin-right: 40px;

    &.selected {
        font-weight: bold;

        &:nth-child(1) {
            color: rgb(253, 25, 153);
        }

        &:nth-child(2) {
            color: rgb(255, 240, 1);
        }

        &:nth-child(3) {
            color: #61dafb;
        }
    }
}

.chart {
    height: 100%;
    width: 100%;
}

.input {
    color: black;
    display: block;
    font-size: 15px;
    margin: 16px 50px 0 0;
    max-height: 200px;
    width: 100%;

    &.sync {
        outline-color: rgba(253, 25, 153, 0.1);
    }

    &.debounced {
        outline-color: rgba(255, 240, 1, 0.1);
    }

    &.async {
        outline-color: rgba(97, 218, 251, 0.1);
    }
}

label {
    font-size: 20px;

    & + label {
        display: inline-block;
        margin-left: 20px;
    }
}

.row {
    display: flex;
    flex: 1;
    margin-top: 20px;
    min-height: 100%;
}

.column {
    flex: 1;
}

.demo {
    min-height: 100vh;
    position: relative;
}

.stutterer {
    border-radius: 200px;
    bottom: 0;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
    height: 310px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: -256px;
    transform: scale(1.5);
    width: 310px;
}

.clockHand {
    stroke: white;
    stroke-linecap: round;
    stroke-width: 10px;
}

.clockFace {
    stroke: white;
    stroke-width: 10px;
}

/* .arcHand {
} */

.innerLine {
    background-color: red;
    border-radius: 6px;
    height: 149px;
    left: 47.5%;
    position: absolute;
    top: 0%;
    transform-origin: bottom center;
    width: 5%;
}
